<header class="profile">
    <div class="profile__header">
        <div class="profile-avatar">
            <img class="profile-avatar__default" src="/assets/without-avatar.svg" alt="Avatar">
        </div>
    </div>
</header>
<main class="profile">
    <form name="updateProfileForm" class="form form-profile">
        <fieldset class="profile-from__field-group">
            <ul class="profile__body">
                {{#each inputList}}
                    {{{ this}}}
                {{/each}}
            </ul>
        </fieldset>

        <fieldset class="profile-from__field-group">
            {{{ Button }}}
        </fieldset>
    </form>
</main>

<nav class="profile__nav">
    <a href="#" >
        <img class="profile__back" page="profile" src="/assets/back-link.svg" alt="Назад">
    </a>
</nav>
