<header class="profile">
    <div class="profile__header">
        <div class="profile-avatar">
            <img class="profile-avatar__default" src="/assets/without-avatar.svg" alt="Avatar">
        </div>
    </div>
</header>
<main class="profile">
    <form name="updateProfileForm" class="form form-profile" novalidate>
        <ul class="profile__body">
            <li class="profile__user-field">
                <label class="profile-form-input__label" for="oldPassword">Почта</label>
                <input
                        name="oldPassword"
                        type="password"
                        class="profile-form-input__input"
                        required
                        placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                >
            </li>
            <li class="profile__user-field">
                <label class="profile-form-input__label" for="newPassword">Логин</label>
                <input
                        name="newPassword"
                        type="password"
                        class="profile-form-input__input"
                        required
                        placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"

                >
            </li>
            <li class="profile__user-field">
                <label class="profile-form-input__label" for="newPasswordAgain">Имя</label>
                <input
                        name="newPasswordAgain"
                        type="password"
                        class="profile-form-input__input"
                        required
                        placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"

                >
            </li>
        </ul>
    </form>
</main>
<footer class="profile">
    <div class="profile__footer profile__footer_place_centered">
        {{> Button text="Сохранить" className="default" type="submit" page="profile"}}
    </div>
</footer>

<nav class="profile__nav">
    <a href="#" >
        <img class="profile__back" page="profile" src="/assets/back-link.svg" alt="Назад">
    </a>
</nav>