.button {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.button__default {
    width: 280px;
    padding: 12px 0 12px 0;
    font-family: 'Inter', sans-serif;
    background-color: #3369F3;
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
}
