.text {
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
}

.text__very-big {
    font-size: 20px;
    line-height: 20px;
}

.text__default {
    font-size: 15px;
    line-height: 20px;
}

.text__small {
    font-size: 13px;
    line-height: 13px;
}

.text_color_gray {
    color: #999;
}