<div class="chat-service">
    <div class="chat-service__link_container">
        {{{ ProfileLink }}}
    </div>
    {{{ AddNewChatButton }}}
    <input type="text" class="chat-service__search" placeholder="Поиск">
</div>

<ul class="chat-list">
    {{#each chats}}
        {{{ this }}} 
    {{/each}}
</ul>

{{{ AddNewChatPopup }}}
