<div class="chat-service">
    <div class="chat-service__link_container">
        <a href="#" class="chat-service__link" page="profile">Профиль<img src="../../../assets/pointer.svg" alt="Указатель" class="chat-service__pointer"></a>
    </div>
    <input type="text" class="chat-service__search" placeholder="Поиск">
</div>

<ul class="chat-list">
    {{#each chats}}
        {{{ this }}} 
    {{/each}}
</ul>
