.chat-feed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.chat-feed__header {
  margin: 0 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.chat-feed__header-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.chat-feed__header-title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0;
}

.chat-feed__header-menu {
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.chat-feed__main {
  margin: 0;
  margin-top: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.chat-feed__form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 20px;
  padding: 11px 0;
  border-top: 1px solid #eaeaea;
}

.chat-feed__form-clip {
  cursor: pointer;
}
