<main>
    <nav>
        <ol>
            <li>
                <a class="link__default" href="#" page="signIn">Sign In</a>
            </li>
            <li>
                <a class="link__default" href="#" page="signUp">Sign Up</a>
            </li>
            <li>
                <a class="link__default" href="#" page="error500">500</a>
            </li>
            <li>
                <a class="link__default" href="#" page="error404">404</a>
            </li>
            <li>
                <a class="link__default" href="#" page="profile">Profile</a>
            </li>
            <li>
                <a class="link__default" href="#" page="updateProfile">UpdateProfile</a>
            </li>
            <li>
                <a class="link__default" href="#" page="updatePassword">UpdatePassword</a>
            </li>
            <li>
                <a class="link__default" href="#" page="chats">Chats</a>
            </li>
            <li>
                <a class="link__default" href="#" page="chatId">ChatId</a>
            </li>
        </ol>
    </nav>
</main>

