<header class="profile">
    <div class="profile__header">
        <div class="profile-avatar profile__avatar_state_hover">
            <img class="profile-avatar__default" src="/assets/without-avatar.svg" alt="Avatar">
        </div>
        {{{ Title }}}
    </div>
</header>
<main class="profile">
    <ul class="profile__body">
        {{#each profileFilds}}
            {{{ this }}}
        {{/each}}
    </ul>
</main>
<footer class="profile">
    <ul class="profile__footer">
        {{#each linkList}}
        <li class="profile__link">
            {{{ this }}} 
        </li>
        {{/each}}
    </ul>
</footer>

<nav class="profile__nav">
    <a href="#" page="chats"><img class="profile__back" page="chats" src="/assets/back-link.svg" alt="Назад"></a>
</nav>

{{{ Popup }}}