<main class="page page__error">
    {{> Title text='500' size='big' }}
    {{> Text text='Мы уже фиксим' size='very-big'}}
    <div class="layout__link">
        {{> Link text='Назад к чатам' page='chats' type='default' size='small' }}
    </div>
</main>

