<form action="#" class="popup-form">
    {{{ TextLoadFile }}}
    <fieldset class="popup-form-group">
        <label class="popup-form__label" for="avatar">
            {{ Text }}
        </label>
        <input
                name="avatar"
                class="popup-form__input"
                type="file"
                accept=""
        >
    </fieldset>
    <fieldset class="popup-form-group">
        {{{ Button }}}
    </fieldset>
</form>
