<form action="#" class="popup-form">
    {{{ PopupTitle }}}
    <fieldset class="popup-form-group">
        {{#each inputsForm}}
            {{{ this }}} 
        {{/each}}
    </fieldset>
    <fieldset class="popup-form-group">
        {{{ SubmitButton }}}
    </fieldset>
</form>
