.popup {
  background-color: rgb(0 0 0 / 40%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.popup-form {
  max-width: 340px;
  box-sizing: border-box;
  padding: 40px 30px;
  border-radius: 12px;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup-form-group {
  display: flex;
  justify-content: center;
  padding: 44px 0 0;
}

.popup-form__label {
  padding: 0 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: underline;
  color: #3369f3;
}

.popup-form__input {
  display: none;
}
