.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page__error {
    gap: 20px;
}

.layout__link {
    margin-top: 50px;
}