<p class="message__content">{{ content }}</p>
<p class="message__time {{#if status }}message-self__time{{else}}message-friend__time{{/if}}">{{#if status }}<img class="message__status" src="../../../assets/status.svg" alt="status">{{/if}}{{ time }}</p>
